<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="userId" value="3"></parameter>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Ihar_Sakun/OneDrive - EPAM/prv/data/java/RestAssuredProject/src/test/java/DataDrivenExamples.java">
        <classes>
            <class name="DataDrivenExamples"/>
        </classes>
    </test>
</suite>